.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}
.mainInfo {
  display: flex;
  flex-direction: row;
  gap: 15px;
  border-bottom: 1px solid grey;
  padding: 10px;
}
.movieFoto {
  width: 500px;
  height: 400px;
  object-fit: cover;
}

.movieInfo {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.title {
  font-size: 40px;
  padding-bottom: 20px;
}
.list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  list-style-type: disc;
  padding-left: 20px;
  padding-top: 25px;
}
.genresList {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
