.section {
  margin: 0 auto;
  font-family: "Manrope", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  width: 500px;
  height: 500px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.foto {
  width: 200px;
  height: 200px;
  background-color: black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.foto img {
  max-width: 100%;
  max-height: 100%;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.text {
  font-size: 35px;
  font-weight: 700;
  text-align: center;
}
.info {
  text-align: center;
  font-size: 20px;
  color: gray;
}
.list {
  display: flex;
  flex-direction: row;
  width: 500px;
  height: 70px;
  border: 2px solid gray;
  bottom: 0;
  position: absolute;
  left: 0;
  border-radius: 15px;
  background-color: lightgrey;
}
.part {
  flex: 1;
  border-left: 2px solid grey;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 20px;
}
.part:first-child {
  border-left: none;
}
.number {
  font-weight: 900;
}
